
/* h1{
    font-size:70px;
    position:relative;
    z-index:10;
    font-weight:100;
}

h2{
    font-size:45px;
    position:relative;
    z-index:10;
}

h3{
    font-size: 25px;
    position: relative;
    z-index: 10;
} 
p{
    font-size: 30px;
    position:relative;
    z-index:10;
}

h3{
    position:relative;
    z-index:10;
    
} */
/*Body- main**/
/* body
{
    display: grid;
    
    grid-template-rows: 
    auto 
    auto 
    auto;
    grid-template-areas: 
    'header-row'
    'index-main-row'
    'footer-row';

    background-color: rgb(255, 255, 255);
} */


.grid-container{
    grid-area:'main-grid-row';
    display: grid;
    background-color: cornsilk;
    /* padding-top: 350px; */
    position: relative;
    grid-template-rows: auto auto;
    grid-template-areas: 'contacto-area' 'contacto-map';
}

.grid-contacto{
    grid-area: contacto-area;
    grid-template-columns: auto 30%;
    grid-template-areas: 'contacto-form contacto-enlaces';
    display: grid;
    background: #BC6D2A;
}

.contacto-Form-area{
    grid-area: contacto-form;
 
    height: auto;
    display: grid;
    border: 0px;
    background: white;
    justify-items: center;
    align-content: center;
    padding-bottom: 2em;
    justify-content: space-between;
    border-radius: 10% 10% 0% 0%;
}

.contacto-form-area-bienvenida{
    width: 90%;
    display: grid;
    padding-top: 6em;
    padding-bottom: 3em;
}

.titulo-bienvenida{
    color: black;
    font-family: 'poetsenone-regular';
    /* font-weight: 500; */
    padding-bottom: 1em;
}

.texto-bienvenida{
    padding-bottom: 2em;
}

.contacto-aside-area{
    grid-area: contacto-enlaces;
    height: auto;
    display: grid;
    border: 0px;
    color: white;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
}

.contacto-Form-area div{
    border: 0px;
    display: grid;
    flex-wrap: nowrap;
    justify-items: stretch;
}


.contacto-aside-area div{
    display: flex;
    /* grid-row: 2; */
    border: 0px;
    display: block;
    padding: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.contacto-aside-area-titulo{
    display: grid;
    color: white;
    position: relative;
    /* width: 80%; */
    /* left: 33px; */
    background: #E0A36C;
    /* background: rgba(40, 40, 40, 0.5); */
    border-radius: 50px;
}

.form_contact{
    width: 50%;
    padding: 10px 0px 5px 20px;
    grid-template-rows: auto auto;
    grid-template-areas: 'titulo-Form' 'user-info-Form';
}

.titulo-form{
    grid-area: titulo-form;
    /*font-size: 25px; */
    font-weight: 600;
    color: #303030;
    margin-bottom: 66px;
}

.user_info{    
    grid-area: user-info-Form;
    display: grid;

    grid-template-rows: auto auto auto auto auto ;
    grid-template-areas: 'nickName-Form' 'email-Form' 'asunto-Form' 'mensaje-Form' 'enviar-Form';
}

.name_nick {
    grid-area: nickName-Form;
    grid-template-columns: auto auto;
    grid-template-areas: 'name lastname';

}
.nombre{
    grid-area:name ;
}
.apellido{
    grid-area:lastname ;
}



form.form_contact label {
    font-weight: 600;
}
form.form_contact .user_info .name_nick p{

    font-size: 20px;
    /* margin: 20px; */
    margin-right: 20px;
}

.grid-contacto-mapa{
    grid-area: contacto-map;
    width: inherit;
    height: 275px;
}

.mapa-body{
    position: absolute;
   
    width: 100%;
    height: auto;
    filter: drop-shadow(0px -15px 10px rgba(0, 0, 0, 0.25));
}
.mapa-body iframe{

    width: inherit;
}

/* Formulario de contacto*/

form.form_contact input,
form.form_contact textarea {
    width: 100%;
    padding: 8px 3px 5px 5px;
    margin-bottom: 20px;
    font-family: 'Open sans';
    color: #5A5A5A;
    font-size: 14px;
    font-weight: 400;
}

form.form_contact .user_info .name_nick input {
    width: 90%;
    align-content: space-between;
  
}

form.form_contact .user_info .name_nick label {
    display: grid;
    justify-content: space-between;
}

form.form_contact textarea {
     max-width: auto; 
    /* min-width: 100%; */
    height: 90px;
    max-height: 120px;
}
/********Boton donar***********/
form.form_contact input[type="submit"] {
    /* width: 180px; */
    background: #BC6C24;
    padding: 10px;
    border: none;
    border-radius: 25px;
    align-self: flex-end;
    color: #fff;
    font-family: 'Open sans';
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

form.form_contact input[type="submit"]:hover {
    background: #d1813b;
}


/*******Modal********/
.Modal_enviado{
    top: 0;
    right: 0;
    left: 0;
    /* background-color: #fff; */
    position: fixed;
    /* align-content: space-around; */
    /* display: flex; */
    /* justify-content: space-between; */
    /* flex-direction: column; */
    /* margin: 10px; */
    /* width: 50%; */
    align-items: flex-start;
    padding: 50px 50px 50px 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;  
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
}

.Modal_enviado input[type="submit"] {
     /* width: 150px; */
     background: #4091EC;
     padding: 10px;
     border: none;
     border-radius: 25px;
     align-self: flex-end;
     color: #fff;
     font-family: 'Open sans';
     font-size: 16px;
     font-weight: 600;
     cursor: pointer;
}

.Contenedor_modal{
    background-color: #f5e0cb;
    position: fixed;
    /* display: flex; */
    flex-direction: column;
    margin: 10px;
    width: 50%;
    align-content: flex-start;
    align-items: center;
    width: 600px;
    max-width: 100%;
    padding: 25px 25px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    text-align: center;
}
.Contenedor_modal h1{
    font-family: 'Open sans';
    opacity: 0.7;
    font-size: 30px;
  
}

/**********funciona con el js*******/
.show {
    pointer-events: auto;
    opacity: 1;
  }

/***************Footer original pra superponer el mapa y footer*****************/

footer{

    /* top: -11em; */
    position: relative;
    z-index: 1;
} 
