/* Fuentes */


@font-face{
font-family: 'poetsenone-regular';
src: url('./fonts/poetsenone-regular.ttf');
}

@font-face{
font-family: 'araboto';
src: url('./fonts/araboto-normal-400.ttf');
    
}

@font-face{
font-family: 'araboto-bold';
src: url('./fonts/araboto-bold-400.ttf');
    
}

.grid-container{
    grid-area:'main-row';
    display: grid;
    background-color: cornsilk;
    /* padding-top: 350px; */
    position: relative;
    grid-template-rows: auto auto auto;
    grid-template-areas: 'donaciones-presentacion' 'donaciones-donantes' 'donaciones-donar';
}


.presentacionDonaciones{
    grid-area:'donaciones-presentacion';
    grid-column: 1 / 4;
    display: grid;
    border: 0px;
    position:relative;
    /* bottom:1100px;
    padding-bottom:90px; */
    grid-template-rows: auto auto ;
    grid-template-areas: 'presentacion-row' 'roperito';
    background-color:white; 
}

.presentacionesTop{
    background-color: #0094FF;
    display: grid;
    grid-area:'presentacion-row';
    grid-template-columns: auto auto ;
    grid-template-areas: 'presentacion-izq presentacion-der';
    /* background-color: rgb(235, 213, 213); */
}
.presentacionesBottom{
    display: grid;
    grid-area:'roperito';
    background-color: #0094FF;
    border-radius: 0px 0px 1000px 1000px;
}

.prsentacionDonaciones div{
    grid-row: 2;
    border: 0px;
}
.prsentacionDonaciones img{
    grid-row: 2;
    border: 0px;
}.prsentacionDonaciones .titulo-blanco{
    grid-row: 2;
    border: 0px;
}

.prsentacionDonaciones h4{
    position:relative;
    left:135px;
}


.item6 img{
    height:370px;
    width:410px;
    
}

.roperito{
    display: grid;
    grid-area:roperito;
    grid-column: 1 / 4;
    border: 0px;
    position:relative;
    justify-content: center;
}

.roperito .texto-blanco{
    text-align: center;
    width:610px;
    position:relative;
    left:30px;
}

.roperito img{
    display: grid;
    height:370px;
    width:410px;
}


.img-roperito{
    display: grid;
    justify-content: center;
    padding-top:50px;
}


.roperocomunitario .titulo-blanco2{
    padding-bottom:40px;
}

/* item7 */
.Donantes{
    grid-area:donaciones-donantes;
    grid-column: 1 / 4;
    border: 0px;
    position:relative;
    
}
/* item8 */
.Donar{
    background-image: url(../img/donaciones/bg-cielo.png);
    background-repeat: no-repeat;
    background-color: white;
    background-size: 100%  100%;
    grid-area:donaciones-donar;
    grid-column: 1 / 4;
    display: grid;
    border: 0px;
    position:relative;
    width: 100%;
    height: 1200px;
    
}


.quiero-donar{
    display: grid;
    background-image: url(../img/donaciones/bg-nube.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    justify-items: center;
    align-content: center;
    justify-content: center;
}
.quiero-donar .titulo-negro{
    padding: 10px;
      
  }


  .quiero-donar .texto-negro{
    /* font-family: 'Roboto';  */
    padding: 10px;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
}
.item9 div {
    grid-row: 2;
    display: grid;
    border: 0px;
}



.verMas-btn
{
    display: grid;

    background: linear-gradient(0deg, rgba(201,157,0,1) 0%, rgba(255,213,28,1) 20%, rgba(255,236,30,1) 100%);
    
    border-radius: 30px;
    box-shadow: 0px 0px 10px #BFBCBC;
    
    width: 200px;
    height: 80px;

    align-items: center;

    text-decoration: none;
    font-family: sans-serif;
    color: #83331b;
    font-weight: bolder;
    font-size: 26px;
}
.verMas-btn a{
    display: grid;
    text-decoration: none;
    color: rgb(70, 70, 70);
    text-align: right;
    justify-content: center;
}


/*****************************************************/
/**************************MAIN****************************/



.titulo-cuerpo {
    color: #3a3a3a;
    font-weight: 700;
    text-align: center;
    margin: 60px 0;
}

.titulo-cuerpo h1 {
    display: flex;
    padding-top: 100px;
    color: white;
    /* background: white; */
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 100px;
}

.titulo-negro{
    font-family:'poetsenone-regular';
    
}

.titulo-blanco{
    font-family:'poetsenone-regular';
    color:white;
    font-size:87px;
    font-weight:100;
}

.titulo-blanco2{
    font-family:'poetsenone-regular';
    color:white;
    font-size:66px;
    font-weight:100;
}

.texto-negro{
    font-family:'araboto';
    
}

.texto-blanco{
    font-family:'araboto';
    color:white;
    font-size: 24px;
    font-weight: 100;
    line-height: 32px;
    text-align: left;
    width:530px;
}




.texto-negro-bold{
    font-family:'araboto-bold';
    
}

.texto-blanco-bold{
    font-family:'araboto-bold';
    color:white;
    
}
footer 
{
    background-color: #28A5FF;
    
}   


