/* Fuentes */


@font-face{
font-family: 'poetsenone-regular';
src: url('./fonts/poetsenone-regular.ttf');
}

@font-face{
font-family: 'araboto';
src: url('./fonts/araboto-normal-400.ttf');
    
}

@font-face{
font-family: 'araboto-bold';
src: url('./fonts/araboto-bold-400.ttf');
    
}

.grid-container{
    grid-area:'main-row';
    display: grid;
    background-color: cornsilk;
    /* padding-top: 350px; */
    position: relative;
    grid-template-rows: auto auto auto;
    grid-template-areas: 'donaciones-presentacion' 'donaciones-donantes' 'donaciones-donar';
}


.presentacionDonaciones{
    grid-area:'donaciones-presentacion';
    grid-column: 1 / 4;
    display: grid;
    border: 0px;
    position:relative;
    /* bottom:1100px;
    padding-bottom:90px; */
    grid-template-rows: auto auto ;
    grid-template-areas: 'presentacion-row' 'roperito';
    background-color:white; 
}

.presentacionesTop{
    background-color: #0094FF;
    display: grid;
    grid-area: 'presentacion-row';
    grid-template-rows: auto auto ;
    grid-template-areas: 'presentacionTopTop-row' 'presentacionTopbootom';
    padding: 80px;
}
.preseToprowTop{
    grid-area: 'presentacionTopTop-row';
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 'presentacion-izq presentacion-der';
    /* padding: 80px; */
}
.presentacion-lectura{
    grid-area:presentacion-izq ;
    display: grid;
}

.text-presentacion{

}
.text-presentacion-booton{
    grid-area: presentacionTopbootom;

}

.presentacion-imagen {
    grid-area: presentacion-der;
    display: grid;
    /* width: 85%; */
    /* height: 80%; */
    align-items: center;
    align-content: stretch;
}

.presentacion-imagen img{
    /*width: 95%; */
    height: 80%;
}


/* p::first-line {
    color: white;
    background: green;
}    */


.presentacionesBottom{
    display: grid;
    grid-area:'roperito';
    background-color: #0094FF;
    border-radius: 0px 0px 1000px 1000px;
}

.prsentacionDonaciones div{
    grid-row: 2;
    border: 0px;
}
.prsentacionDonaciones img{
    grid-row: 2;
    border: 0px;
}.prsentacionDonaciones .titulo-blanco{
    grid-row: 2;
    border: 0px;
}

.prsentacionDonaciones h4{
    position:relative;
    left:135px;
}


.item6 img{
    height:370px;
    width:410px;
    
}

.roperito{
    display: grid;
    grid-area:roperito;
    grid-column: 1 / 4;
    border: 0px;
    position:relative;
    justify-content: center;
}

.roperito .texto-blanco{
    text-align: center;
    width:610px;
    position:relative;
    left:30px;
}

.roperito img{
    display: grid;
    height:370px;
    width:410px;
}


.img-roperito{
    display: grid;
    justify-content: center;
    padding-top:50px;
}


.roperocomunitario .titulo-blanco2{
    padding-bottom:40px;
}

/* item7 */
.Donantes{

    display: grid;
    grid-area: donaciones-donantes;
    grid-column: 1 / 4;
    border: 0px;
    position: relative;
    grid-template-rows: auto auto;
    grid-template-areas:
        'Donantes-title-row'
        'Donantes-main-row';
    grid-row-gap: 30px;
    justify-content: center;
    background-color: white;
}

.donantes-title{
    display: grid;
    grid-area: Donantes-title-row;
    grid-column: 1 / 4;
    border: 0px;
    position: relative;
    justify-items: center;
} 

.Donantes-main-row{
    grid-area:Donantes-main-row;
    grid-column: 1 / 4;
    border: 0px;
    position:relative;

    grid-template-rows: 
    auto 
    auto;
    grid-template-areas: 
    'Donantes-title-row' 
    'Donantes-main-row';  
}
/*************************************/



.index-testimonios-row
{
    display: grid;
    grid-area: index-testimonios-row;

    grid-template-rows: 
    250px  
    auto 
    auto;
    grid-template-areas: 
    'index-testimonios-top-row' 
    'index-testimonios-main-row' 
    'index-testimonios-bottom-row';  

    background:white;
}

.index-testimonios-top-row
{
    display: grid;
    grid-area: index-testimonios-top-row;
}

.index-testimonios-main-row
{
    display: grid;
    grid-area: index-testimonios-main-row;
    
    grid-template-rows: 
    auto 
    auto 
    auto;
    grid-template-areas: 
    'index-testimonios-title-row' 
    'index-testimonios-movie-row' 
    'index-testimonios-articles-row';
    
    grid-row-gap: 30px;

    justify-items: center;
}

.index-testimonios-title-row
{
    font-size: 60px;
    font-family: 'poetsenone-regular';
    font-weight: 500;
}

/* .index-testimonios-movie-row
{
    display: grid;

    width: 1080px;
    height: 420px;
    margin-bottom: 90px;
    
    border-radius: 50px;
} */

.donantes-articles-row
{
    display: grid;
    grid-area: Donantes-main-row;

    grid-template-columns: 
    5% 30% 30% 30% 5%;;
    grid-template-areas: 
    'donantes-slider-leftArrow-col donaciones-donantes-art1 donaciones-donantes-art2 donaciones-donantes-art3 donantes-slider-rightArrow-col';
    grid-gap: 6px;
    align-items: center;
    justify-content: center;
    justify-items: center;

}

/* 
.index-testimonios-articles-row
{
    display: grid;
    grid-area: index-testimonios-articles-row;

    grid-template-columns: 
    auto auto auto auto auto;
    grid-template-areas: 
    'donantes-slider-leftArrow-col donaciones-donantes-art1 donaciones-donantes-art2 donaciones-donantes-art3 donantes-slider-rightArrow-col';
} */

.donantes-slider-leftArrow-col
{
    grid-area: donantes-slider-leftArrow-col;

    align-items: center;
}

.donantes-slider-rightArrow-col
{
    grid-area: donantes-slider-rightArrow-col;

    align-items: center;
}


.index-testimonios-art
{
    display: grid;

    grid-template-rows: 
    auto 
    auto;
    grid-template-areas: 
    'index-testimonios-tp-row' 
    'index-testimonios-com-row';
}


.slidesDonantes {

}
.slidesDonantes img{
    width: 75%;
    height: 75%;
}
.donaciones-donantes-art1
{
    grid-area:donaciones-donantes-art1;
}

.donaciones-donantes-art2
{
    grid-area:donaciones-donantes-art2;   
}

.donaciones-donantes-art3
{
    grid-area:donaciones-donantes-art3;   
}

/* 
.index-testimonios-art4 {
    border: 1px solid black;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas:
        'index-testimonios-tp-row'
        'index-testimonios-com-row';
}  */

.index-testimonios-name
{
    font-family: 'calibri';
    color:rgb(70, 70, 70);
}

.index-testimonios-profile
{
    font-family: 'calibri';
    color:rgb(70, 70, 70);
}

.index-testimonios-quote
{
    margin-bottom: 60px;

    padding: 27px;

    text-align: justify;

    font-weight: lighter;
    font-family: "calibri";
    font-size: 20px;
    color:rgb(40, 40, 40);   
}

.index-testimonios-bottom-row
{
    display: grid;
    grid-area: index-testimonios-bottom-row;
}

.index-testimonios-articles-row
{
       display: grid;

       /* width: 80%; */
       margin-left: 5%;
       margin-right: 5%;

       align-content: center;
       justify-items: center;
       justify-content: space-around;
}
/************************************/
/* item8 */
.Donar{
    background-image: url(../img/donaciones/bg-cielo.png);
    background-repeat: no-repeat;
    background-color: white;
    background-size: 100%  100%;
    grid-area:donaciones-donar;
    grid-column: 1 / 4;
    display: grid;
    border: 0px;
    position:relative;
    width: 100%;
    height: 1200px;
    
}


.quiero-donar{
    display: grid;
    background-image: url(../img/donaciones/bg-nube.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    justify-items: center;
    align-content: center;
    justify-content: center;
}
.quiero-donar .titulo-negro{
    padding: 10px;
      
  }


  .quiero-donar .texto-negro{
    /* font-family: 'Roboto';  */
    padding: 10px;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
}
.item9 div {
    grid-row: 2;
    display: grid;
    border: 0px;
}



.verMas-btn
{
    display: grid;

    background: linear-gradient(0deg, rgba(201,157,0,1) 0%, rgba(255,213,28,1) 20%, rgba(255,236,30,1) 100%);
    
    border-radius: 30px;
    box-shadow: 0px 0px 10px #BFBCBC;
    
    width: 200px;
    height: 80px;

    align-items: center;

    text-decoration: none;
    font-family: sans-serif;
    color: #83331b;
    font-weight: bolder;
    font-size: 26px;
}
.verMas-btn a{
    display: grid;
    text-decoration: none;
    color: rgb(70, 70, 70);
    text-align: right;
    justify-content: center;
}


/*****************************************************/
/**************************MAIN****************************/



.titulo-cuerpo {
    color: #3a3a3a;
    font-weight: 700;
    text-align: center;
    margin: 60px 0;
}

.titulo-cuerpo h1 {
    display: flex;
    padding-top: 100px;
    color: white;
    /* background: white; */
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 100px;
}

.titulo-negro{
    font-family:'poetsenone-regular';
    
}

.titulo-blanco{
    font-family:'poetsenone-regular';
    color:white;
    font-size:87px;
    font-weight:100;
}

.titulo-blanco2{
    font-family:'poetsenone-regular';
    color:white;
    font-size:66px;
    font-weight:100;
}

.texto-negro{
    font-family:'araboto';
    
}

.texto-blanco{
    font-family:'araboto';
    color:white;
    font-size: 24px;
    font-weight: 100;
    line-height: 32px;
    text-align: left;
    /* width:530px; */
}


.texto-blanco::first-line {
    color: red;
  }


.texto-negro-bold{
    font-family:'araboto-bold';
    
}

.texto-blanco-bold{
    font-family:'araboto-bold';
    color:white;
    
}
footer 
{
    background-color: #28A5FF;
    
}   


